@{
	ViewData["Title"] = "Home Page";
	Layout = "~/Views/Shared/_LayoutBookStore.cshtml";
}

@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<Sach>
@foreach (var item in Model)
{
	<div class="col-sm-4"> 
		<div class="product-image-wrapper">
			<div class="single-products">
				<div class="productinfo text-center">
					<a asp-controller="Home" asp-action="ChiTietSanPham" asp-route-masach="@item.MaSach"><img src=@Url.Content("../ProductImages/Images1/"+item.AnhBia) alt="" /></a>
					<h2>@item.GiaBan VND</h2>
					<p>@item.TenSach</p>
					<a asp-action="AddToCart" asp-controller="Cart" asp-route-id="@item.MaSach" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
				</div>
			</div>
			<div class="choose">
				
			</div>
		</div>
	</div>
}

<div class="product__pagination">
	@Html.PagedListPager(Model,page=>Url.Action("Index",new{page=page}))
</div>

