<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home | E-BOOk</title>
	<link href="../1LayoutbookStore/css/bootstrap.min.css" rel="stylesheet">
	<link href="../1LayoutbookStore/css/font-awesome.min.css" rel="stylesheet">
	<link href="../1LayoutbookStore/css/prettyPhoto.css" rel="stylesheet">
	<link href="../1LayoutbookStore/css/price-range.css" rel="stylesheet">
    <link href="../1LayoutbookStore/css/animate.css" rel="stylesheet">
	<link href="../1LayoutbookStore/css/main.css" rel="stylesheet">
	<link href="../1LayoutbookStore/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="../1LayoutbookStore/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../1LayoutbookStore/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../1LayoutbookStore/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../1LayoutbookStore/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../1LayoutbookStore/images/ico/apple-touch-icon-57-precomposed.png">
	<style>
		.badge {
			padding-left: 9px;
			padding-right: 9px;
			-webkit-border-radius: 9px;
			-moz-border-radius: 9px;
			border-radius: 9px;
		}

		.label-warning[href],
		.badge-warning[href] {
			background-color: #c67605;
		}

		#lblCartCount {
			font-size: 12px;
			background: #ff0000;
			color: #fff;
			padding: 0 5px;
			vertical-align: top;
			margin-left: -10px;
		}
	</style>
</head><!--/head-->

<body>
	
	<header id="header"><!--header-->
		
		
		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-md-4 clearfix">
						<div class="logo pull-left">
							<a asp-action="Index" asp-controller="Home"><img src="../ProductImages/Images1/iconBook.png" alt="" />  <h7><span >E</span>-BOOKS</h7></a>
						</div>
						<div class="btn-group pull-right clearfix">
							
						</div>
					</div>
					
					<div class="col-md-8 clearfix">
						<div class="shop-menu clearfix pull-right">
							<ul class="nav navbar-nav">
								@{
									var gmailClient = new TestWeb.Models.GmailClient.GmailClient();
									var kh = gmailClient.getEmail();
									var Ten = gmailClient.getName();
									var sosach = gmailClient.getSoSach();
									
								}
								@{
									if (Ten == null)
									{
										<li><a asp-action="Login" asp-controller="LoginClient"><i class="fa fa-user"></i> Tài khoản</a></li>
									}
									else
									{
										<li><a asp-action="DanhMucKhachHang" asp-controller="Home"><i class="fa fa-user"></i> @Ten.ToString()</a></li>
									}
								
								//<li><a href=""><i class="fa fa-user"></i> Account</a></li>
								}
								<li><a  asp-action="Index" asp-controller="Cart"><i class="fa fa-shopping-cart"></i> Giỏ Hàng</a>
									@{
										if (sosach == 0)
										{
										
										}
										else
										{
											<span class='badge badge-warning' id='lblCartCount'> @sosach</span>
										}
									//<span class='badge badge-warning' id='lblCartCount'> 5 </span>
									}
								</li>
								
								
								@{
									if (kh == null)
									{
										<li>@Html.ActionLink("Đăng Ký", "Register", "LoginClient")</li>
										<li>@Html.ActionLink("Đăng nhập", "Login", "LoginClient")</li>
									}
									else
									{
										<li>@Html.ActionLink("Đăng Xuất", "Logout", "LoginClient")</li>
									}
								}

							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-middle-->
	
		<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-9">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li><a asp-action="Index" asp-controller="Home" class="active">Trang Chính</a></li>
								
							</ul>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="search_box pull-right">
							<form method="get" asp-action="Search" >
								<input type="text" name="searchString" placeholder="Tên Sách"/>
								<button type="submit">Tìm kiếm</button>
							</form>
							
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-bottom-->
	</header><!--/header-->
	
	<section id="slider"><!--slider-->
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div id="slider-carousel" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
							<li data-target="#slider-carousel" data-slide-to="1"></li>
							<li data-target="#slider-carousel" data-slide-to="2"></li>
						</ol>
						
						<div class="carousel-inner">
							<div class="item active">
								<div class="col-sm-6">
									<h1><span>E</span>-BOOKS</h1>
									<h2>Sách hay mỗi ngày</h2>
									<p>Sách là "hành trang" không thể thiếu với chúng ta và cũng như một người bạn, "người anh" chỉ đường sáng suốt trong cuộc đời của mỗi người  </p>
									<button type="button" class="btn btn-default get">Get it now</button>
								</div>
								<div class="col-sm-6">
									<img src="../1LayoutbookStore/images/home/img-02.png" class="girl img-responsive" alt="" />
									<img src="../1LayoutbookStore/images/home/pricing.png"  class="pricing" alt="" />
								</div>
							</div>
							<div class="item">
								<div class="col-sm-6">
									<h1><span>E</span>-BOOK</h1>
									<h2>Sách hay mỗi ngày</h2>
									<p>Sách là "hành trang" không thể thiếu với chúng ta và cũng như một người bạn, "người anh" chỉ đường sáng suốt trong cuộc đời của mỗi người  </p>
									<button type="button" class="btn btn-default get">Get it now</button>
								</div>
								<div class="col-sm-6">
									<img src="../ProductImages/Images1/images.png" class="girl img-responsive" alt="" />
									<img src="../1LayoutbookStore/images/home/pricing.png"  class="pricing" alt="" />
								</div>
							</div>
							
							<div class="item">
								<div class="col-sm-6">
									<h1><span>E</span>-BOOK</h1>
									<h2>Sách hay mỗi ngày</h2>
									<p>Sách là "hành trang" không thể thiếu với chúng ta và cũng như một người bạn, "người anh" chỉ đường sáng suốt trong cuộc đời của mỗi người  </p>
									<button type="button" class="btn btn-default get">Get it now</button>
								</div>
								<div class="col-sm-6">
									<img src="../ProductImages/Images1/image3.png" class="girl img-responsive" alt="" />
									<img src="../1LayoutbookStore/images/home/pricing.png" class="pricing" alt="" />
								</div>
							</div>
							
						</div>
						
						<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
					</div>
					
				</div>
			</div>
		</div>
	</section><!--/slider-->
	
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Chủ đề</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
							<div class="panel panel-default">
			
		
							</div>
							<div class="panel panel-default">

								<div id="mens" class="panel-collapse collapse">
									<div class="panel-body">
										
									</div>
								</div>
							</div>
							
							<div class="panel panel-default">
		
	
							</div>
							@await Component.InvokeAsync("loaiSpMenu")
						</div>
						<!--/category-products-->
					
						
						<!--/brands_products-->
				
					</div>
				</div>
				
				<div class="col-sm-9 padding-right">
					<div class="features_items" id="displayProducts">
						<!--features_items-->
						<h2 class="title text-center">Danh sách</h2>
					
						@RenderBody()
						
					</div><!--features_items-->
				</div>
			</div>
		</div>
	</section>
	
	<footer id="footer"><!--Footer-->
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-sm-2">
						<div class="companyinfo">
							<h2><span>e</span>-BOOK</h2>
							<h5>Các nhà phát triển</h5>
						</div>
					</div>
					<div class="col-sm-7">
						<div class="col-sm-3">
							<div class="video-gallery text-center">
								<a href="#">
									<div class="iframe-img">
										<img src="../1LayoutbookStore/images/home/iframe1.png" alt="" />
									</div>
									<div class="overlay-icon">
										<i class="fa fa-play-circle-o"></i>
									</div>
								</a>
								<p>Circle of Hands</p>
								<h2>24 DEC 2014</h2>
							</div>
						</div>
						
						<div class="col-sm-3">
							<div class="video-gallery text-center">
								<a href="#">
									<div class="iframe-img">
										<img src="../1LayoutbookStore/images/home/iframe2.png" alt="" />
									</div>
									<div class="overlay-icon">
										<i class="fa fa-play-circle-o"></i>
									</div>
								</a>
								<p>Circle of Hands</p>
								<h2>24 DEC 2014</h2>
							</div>
						</div>
						
						<div class="col-sm-3">
							<div class="video-gallery text-center">
								<a href="#">
									<div class="iframe-img">
										<img src="../1LayoutbookStore/images/home/iframe3.png" alt="" />
									</div>
									<div class="overlay-icon">
										<i class="fa fa-play-circle-o"></i>
									</div>
								</a>
								<p>Circle of Hands</p>
								<h2>24 DEC 2014</h2>
							</div>
						</div>
						
						<div class="col-sm-3">
							<div class="video-gallery text-center">
								<a href="#">
									<div class="iframe-img">
										<img src="../1LayoutbookStore/images/home/iframe4.png" alt="" />
									</div>
									<div class="overlay-icon">
										<i class="fa fa-play-circle-o"></i>
									</div>
								</a>
								<p>Circle of Hands</p>
								<h2>24 DEC 2014</h2>
							</div>
						</div>
					</div>
					@*<div class="col-sm-3">*@
					@*<script src='https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.js'></script>
					<link href='https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.css' rel='stylesheet' />
					<div id="map" style='width:350px;height:300px'></div>
					<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.js">
					</script>
					<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.css" type="text/css" />
					<script>
						mapboxgl.accessToken = 'pk.eyJ1Ijoibmd1eWVuYmluaGFuMTIzIiwiYSI6ImNsZmw0dWdiODAxb3czcm11eWd2YmVhNWwifQ.bGLy5uZSIxyLN8SC1cOfZg';
						var map = new mapboxgl.Map({
							container: 'map',
							style: 'mapbox://styles/mapbox/streets-v11',
							center: [105.8250385, 20.9647483], //Tọa độ lãnh thổ Việt Nam
							zoom: 15,
							language: 'vi',
						});
					</script>
					<script>
						var marker = new mapboxgl.Marker({
							color: "red", //Màu của Marker là đỏ
							draggable: true,
							anchor: 'bottom', //Nhãn Hà Nội nằm dưới Marker
						}).setLngLat([105.8250385, 20.9647483]) //Thiết lập Marker tại hà Nội
							.addTo(map);
					</script>
					<script>
						//Thêm popup
						var popup = new mapboxgl.Popup({
							closeButton: true,
							closeOnClick: false,
							anchor: 'right',
						}).setLngLat([105.8250385, 20.9647483])
							.setHTML("<h3>HH2A Linh Đàm</h3>")
							.addTo(map);
					</script>
					<script>
						// Thêm control Phóng to/thu nhỏ
						map.addControl(new mapboxgl.NavigationControl({
							showCompass: true,
							showZoom: true,

						}));
					</script>
					<script>
						// Thêm Control - Toàn màn hình của bản đồ
						map.addControl(new mapboxgl.FullscreenControl());
					</script>
					<script>
						map.addControl(new mapboxgl.GeolocateControl({
							positionOption: {
								enableHightAccuracy: true
							},
							trackUserLocation: true
						}));
					</script>
					<script>
						map.addControl(
							new MapboxDirections({
								accessToken: mapboxgl.accessToken
							}),
							'top-left'
						);
					</script>*@
				</div>
			</div>
		</div>
		
		<div class="footer-widget">
			<div class="container">
				<div class="row">
					<div class="col-sm-2">
						<div class="single-widget">
							<h2 style="font-weight:bold">DỊCH VỤ</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#">Điều khoản sử dụng</a></li>
								<li><a href="#">Chính sách bảo mật thông tin cá nhân</a></li>
								<li><a href="#">Chính sách bảo mật thanh toán</a></li>
								<li><a href="#">Giới thiệu Fahasa</a></li>
								<li><a href="#">Hệ thống trung tâm - nhà sách</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="single-widget">
							<h2 style="font-weight:bold">TÀI KHOẢN CỦA TÔI</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#">Điều khoản sử dụng</a></li>
								<li><a href="#">Đăng nhập/Tạo mới tài khoản</a></li>
								<li><a href="#">Thay đổi địa chỉ khách hàng</a></li>
								<li><a href="#">Chi tiết tài khoản</a></li>
								<li><a href="#">Lịch sử mua hàng</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="single-widget">
							<h2 style="font-weight:bold">HỖ TRỢ</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#">Chính sách đổi - trả - hoàn tiền</a></li>
								<li><a href="#">Chính sách bảo hành - bồi hoàn</a></li>
								<li><a href="#">Chính sách vận chuyển</a></li>
								<li><a href="#">Chính sách khách sỉ</a></li>
								<li><a href="#">Phương thức thanh toán và xuất HĐ</a></li>
							</ul>
						</div>
					</div>
					
					<div class="col-sm-3 col-sm-offset-1">
						<div class="single-widget">
							<h2>Đăng kí ủng hộ shop</h2>
							<form action="#" class="searchform">
								<input type="text" placeholder="Email đăng kí" />
								<button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>
								<p>Nhận các bản cập nhật mới nhất từ <br />trang web của chúng tôi và được cập nhật lợi ích của bạn ...</p>
							</form>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<p class="pull-left">Copyright © 2013 E-BOOK Inc. All rights reserved.</p>
					<p class="pull-right">Designed by <span><a target="_blank" href="http://www.themeum.com">Themeum</a></span></p>
				</div>
			</div>
		</div>
		
	</footer><!--/Footer-->



	<script src="../1LayoutbookStore/js/jquery.js"></script>
	<script src="../1LayoutbookStore/js/bootstrap.min.js"></script>
	<script src="../1LayoutbookStore/js/jquery.scrollUp.min.js"></script>
	<script src="../1LayoutbookStore/js/price-range.js"></script>
    <script src="../1LayoutbookStore/js/jquery.prettyPhoto.js"></script>
	<script src="../1LayoutbookStore/js/main.js"></script>
</body>
</html>